<!doctype html> 
<html> 
	<head> 
        <title>${lingua.title}</title>

        <link rel="stylesheet" type="text/css" href="stylesheets/screen.css" />
    </head>
    <body>
        <div id="wrapper">
            {{html body}}
        </div>

        <footer>
            <small>&copy; 2011, <a href="https://plus.google.com/105066655811382416959/about">André König</a> - <a href="http://www.opensource.org/licenses/mit-license.php">${lingua.index.licence}</a></small>
        </footer>
    </body>
</html>